
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars Project Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="row">
        <div class="col-md-12">
          <div class="box border"></div>
        </div>
      </div>

    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p>Get the latest updates on the Mission to Mars here.</p>
          <p><a class="btn btn-primary btn-md" href="/scrape" role="button">Select for Update!</a></p>
        </div>
    
        <div class="row">
            <div class="col-md-12">
              <div class="box border"></div>
            </div>
          </div>
    
          <div class="row">
      <div class="col-md-12">
        <div class="box header">Latest Mars News</div>
        <div class="box mainbody">{{info.feature_title }}</div>
        <div class="box mainbody">{{info.feature_paragraph}} zzz</div>
        </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="box mainbody">Featured Mars Image</div>
        <div class="box mainbody">
          <!-- <img id="bio-image" src="{{info.feature_image}}" alt="Missing Carousel Image"> -->
          </div>
      </div>

      <div class="col-md-4">
        <h3>Mars Facts</h3>
        {{info.feature_table}}
      </div>
      
    </div>
    
    
            <div class="row">
      <div class="col-md-12">
        <div class="box header">Mars Hemispheres</div>
      </div>
    </div>

    
    <div class="row">
        <div class="col-md-6">
          <div class = "box mainbody">Hemi One Title Scrape Here</div>
          <!-- <div class="box mainbody"><img src="{}" alt="Sloth"></div> -->
        <div class="col-md-6">
          <div class = "box mainbody">Hemi 2 Title Scrape Here</div>
          <div class="box mainbody"><a href="/humidity.html"><img id="bio-image" src="Resources\assets\images\Fig2.png" width = 520 height = 440 alt="Missing Hemisphere 2 Image"></div>
        </a></div>
        
      </div>
  
      <div class="row">
          <div class="col-md-6">
            <div class="box title"></div>
          </div>
          <div class="col-md-6">
            <div class="box title"></div>
          </div>
        </div>
  
    <div class="row">
          <div class="col-md-6">
          <div class = "box mainbody">Hemi Three Title Scrape Here</div>
          <div class="box mainbody"><a href="/cloudiness.html"><img id="bio-image" src="Resources\assets\images\Fig3.png" width = 520 height = 440 alt="Missing Hemisphere 3 Image"></div>
        </a></div>
          <div class="col-md-6">
            <div class = "box mainbody">Hemi 4 Title Scrape Here</div>
            <div class="box mainbody"><a href="/windspeed.html"><img id="bio-image" src="Resources\assets\images\Fig4.png" width = 520 height = 440 alt="Missing Hemisphere 4 Image"></div>
          </a></div>
        </div>
  
    <div class="row">
        <div class="col-md-12">
          <div class="box border">Copyright 2020 Kent Matthew Rodgers</div>
        </div>
      </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
